build-tomographer-lib-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/
build-tomographer-lib-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/
build-tomographer-lib-Android_Qt_5_15_0_Clang_Multi_Abi-Debug/
build-tomographer-lib-Android_Qt_5_15_0_Clang_Multi_Abi-Release/
build-TomographerTester-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/